<div id="qrLoginContainer" style="display:none" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border"></div>
    <div class="card justify-content-center align-items-center p-2" style="display: none">
        <img id="qrLoginImage" src="" alt="qr code" width="250px" height="250px" class="mb-4"/>
        <p class="text-center fs-4">Log in with QR Code</p>
    </div>
</div>